logSystem.fileLevel=Level.INFO
logSystem.fileName='/var/log/ccu-historian-%g.log'
logSystem.fileLimit=1000000
logSystem.fileCount=5
logSystem.binRpcLevel=Level.INFO
database.webEnable=true
database.webPort=8083
database.webAllowOthers=true
webServer.port=8082
webServer.historianAddress='X.X.X.X'
webServer.dir='/usr/local/addons/ccu-historian/ccu-historian/webapp'
webServer.logLevel=Level.INFO
devices.device1.type=CCU2
devices.device1.address='X.X.X.X'
devices.historianAddress='X.X.X.X'
database.dir='/usr/local/sdcard/ccu-historian/'
historian.metaCycle=4*60*60*1000
historian.bufferTime=4*60*60*1000
