// configuration for the simulation database

logSystem.showLoggerNames=true
logSystem.consoleLevel=Level.FINEST
logSystem.fileLevel=Level.FINEST
logSystem.directMessages=true
logSystem.fileName='./out.log'

webServer.dir='../../ccu-historian/run/webapp'

devices.device1.type=SIMULATION
devices.device1.writeAccess=true

database.password=''
database.name='sim'
database.dir='.'
