<%
import mdz.hc.DataPoint
import mdz.ccuhistorian.Database
import groovy.transform.Field
import java.util.logging.Logger

@Field
private final static log = Logger.getLogger('mdz.ccuhistorian.webapp.DPDetails')

// Bit als Text anzeigen
def bitToText(value, bitMask) {
	value==null?'Unbekannt':value&bitMask?'Ja':'Nein'
}

utils.catchToLog(log) {

include 'page-begin.gy' 
def ctx=request.session.getAttribute('ctx')
%><meta http-equiv="refresh" content="60">
<%

// Informationen zum Datenpunkt
if (!params.i || !params.i.integer)
	throw new Exception('Page parameter i (data point id) not set or invalid')
def dpId=params.i as Integer
def dataPoint=database.getDataPoint(dpId)
if (!dataPoint)
	throw new Exception("Data point with id $dpId not exists")

// Anzeigename
def displayName=dataPoint.id.interfaceId+'.'+(dataPoint.attributes.displayName?:dataPoint.id.address)+'.'+
	dataPoint.id.identifier
	
// Letzter Wert
def last=database.getLast(dataPoint)

// Anfrageschlüssel
def apiKey=webServer.config.apiKeys?'&k='+URLEncoder.encode(webServer.config.apiKeys[0], 'UTF-8'):''
 
%><title>CCU-Historian: Datenpunkt <%=displayName%></title><% 

%><h1>Datenpunkt <%=displayName%></h1><%

if (!ctx.user.loggedIn) { 
	%><p class="bad">Sie sind nicht (mehr) angemeldet oder Ihre Berechtigungen reichen nicht aus!</p>
	<p><a href="index.html">Zur Anmeldung</a></p><% 
} else {
	%><table>
		<tr>
			<th>Schnittstelle</th>		
			<th>Kanalname</th>
			<th>Seriennr.:Kanalnr.</th>
			<th>Parameter</th>
			<th>Historian-ID</th>
			<th>Aktueller Wert</th>
			<th>Minimum</th>
			<th>Maximum</th>
			<th>Einheit</th>
			<th>Zeitstempel</th>
		</tr>
		<tr>
			<td><%=utils.escapeHtml(dataPoint.id.interfaceId) %></td>
			<td><%=utils.escapeHtml(dataPoint.attributes.displayName) %></td>
			<td><%=utils.escapeHtml(dataPoint.id.address) %></td>
			<td><%=utils.escapeHtml(dataPoint.id.identifier) %></td>
			<td class="number"><%=dataPoint.idx%></td>
			<td class="number"><%=utils.format(last?.value)%></td>
			<td class="number"><%=utils.format(dataPoint.attributes.minimum)%></td>
			<td class="number"><%=utils.format(dataPoint.attributes.maximum)%></td>
			<td><%=utils.escapeHtml(dataPoint.attributes.unit) %></td>
			<td><%=utils.format(last?.timestamp)%></td>
		</tr>
		<tr>
			<th>Standardwert</th>		
			<th>Datentyp</th>
			<th>Lesbar</th>
			<th>Beschreibbar</th>
			<th>Ereignis</th>
			<th>Sichtbar</th>
			<th>Wartungsmeldung</th>
			<th>Man. Bestätigung</th>
			<th>&nbsp;</th>
			<th>Tabelle</th>
		</tr>
		<tr>
			<td class="number"><%=utils.format(dataPoint.attributes.defaultValue)%></td>
			<td><%=utils.escapeHtml(dataPoint.attributes.type) %></td>
			<td><%=bitToText(dataPoint.attributes.operations, DataPoint.ATTR_OPERATIONS_READ) %></td>
			<td><%=bitToText(dataPoint.attributes.operations, DataPoint.ATTR_OPERATIONS_WRITE) %></td>
			<td><%=bitToText(dataPoint.attributes.operations, DataPoint.ATTR_OPERATIONS_EVENT) %></td>
			<td><%=bitToText(dataPoint.attributes.flags, DataPoint.ATTR_FLAGS_VISIBLE) %></td>
			<td><%=bitToText(dataPoint.attributes.flags, DataPoint.ATTR_FLAGS_SERVICE) %></td>
			<td><%=bitToText(dataPoint.attributes.flags, DataPoint.ATTR_FLAGS_STICKY) %></td>
			<td>&nbsp;</td>
			<td><%=utils.escapeHtml(dataPoint.historyTableName) %></td>
		</tr>
	</table><%
	if (dataPoint.historyString) {
		%><h2>Werte der letzten Woche</h2>
		<table>
			<tr>
				<th>Zeitstempel</th>		
				<th>Wert</th>
				<th>Status</th>
			</tr><%
		def end=new Date()
		def timeSeries=database.getTimeSeriesRaw(dataPoint, end-7, end)
		timeSeries.iterator().reverse().each {
			%><tr>
				<td><%=utils.format(it.timestamp)%></td>
				<td><%=utils.escapeHtml(it.value)%></td>
				<td class="number"><%=it.state%></td>
			</tr><%
		}				
		%></table>
		<table>
			<tr><th>Anzahl der Eintr&auml;ge</th><td class="number"><%=timeSeries.size %></td>
			<th>Aktionen</th><td><a href="/query/csv.gy?i=<%=dataPoint.idx%>&amp;d=1W<%=apiKey%>">Als CSV-Datei exportieren</a></td></tr>
		</table>
		<%
	} else {
		def end=new Date()
		%><h2>24 Stunden-Trend</h2>
		<p><img alt="24 Stunden-Trend" src="/query/trend.gy?i=<%=dataPoint.idx%><%=apiKey%>"></p>
		<table>
			<tr><th>Anzahl der Eintr&auml;ge</th><td class="number"><%=database.getCount(dataPoint, end-1, end) %></td>
			<th>Aktionen</th><td><a href="/query/csv.gy?i=<%=dataPoint.idx%><%=apiKey%>">Als CSV-Datei exportieren</a></td></tr>
		</table>
		<h2>Wochen-Trend</h2>
		<p><img alt="Wochen-Trend" src="/query/trend.gy?i=<%=dataPoint.idx%>&amp;d=1W<%=apiKey%>"></p>
		<table>
			<tr><th>Anzahl der Eintr&auml;ge</th><td class="number"><%=database.getCount(dataPoint, end-7, end) %></td>
			<th>Aktionen</th><td><a href="/query/csv.gy?i=<%=dataPoint.idx%>&amp;d=1W<%=apiKey%>">Als CSV-Datei exportieren</a></td></tr>
		</table><%
	}
}
include 'page-end.gy'
} // catchToLog
%>